body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 33px 36px 40px 36px;
  background: #261612;
}

.landingpage .overlap {
  width: 1300px;
  height: 920px;
  position: relative;
  background: linear-gradient(
    118deg,
    rgba(6, 2, 0, 0.92) 35%,
    rgba(14, 5, 1, 0.44) 64%,
    #030100 100%
  );
  border: 1px ridge transparent;
  border-image: linear-gradient(to right, #3498db, #2ecc71, #9b59b6, #f39c12) 30;
  border-image-slice: 1;
  border-image-width: 3px;
}

.landingpage .ellipse {
  width: 1344;
  height: 958;
  left: 50px;
  top: 29px;
  position: absolute;
  background: #432002;
  box-shadow: 600px 600px 600px;
  border-radius: 9999px;
  filter: blur(600px);
}

/* .landingpage .vector {
  width: 108px;
  height: 101px;
  transform-origin: 0 0;
  border-radius: 10px;
  position: relative;
  bottom: 0;
  right: 0;
  margin-bottom: 23px; 
  margin-right: 46px;
} */

.search-cont {
  width: 1200px;
  height: 168px;
  position: relative;
  background: #1f1f1f;
  border-radius: 25px 0px 15px 0px;
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 820px;
  height: 95px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 16px;
  background: #010101;
  border-radius: 65px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  margin-top: 30px;
  margin-left: 50px;
}

.input {
  color: #f4f4f4;
  width: 400px;
  height: 80px;
  font-size: 20px;
  font-weight: 600px;
  word-wrap: break-word;
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
}

.search-button {
  width: 186px;
  height: 89px;
  padding: 10px;
  background: #eceaf0;
  border-radius: 45px;
  justify-content: center;
  align-items: center;
  gap: 10;
  display: inline-flex;
  cursor: pointer;
  margin-left: 10px;
  color: #121212;
  font-size: 20px;
  font-weight: 600px;
  word-wrap: break-word;
}

.landingpage .ellipse2 {
  width: 234px;
  height: 134px;
  left: 931px;
  top: 459px;
  position: absolute;
  background: #f77d0e;
  box-shadow: 180px 180px 180px;
  border-radius: 9999px;
  filter: blur(180px);
  position: absolute;
  z-index: 1;
}

.shopper {
  width: 784px;
  height: 1082px;
  left: 583px;
  top: 0px;
  position: absolute;
}

.textwrap {
  margin-left: 70px;
  margin-top: 90px;
  z-index: 2;
  position: relative;
}

.textwrap .text1 {
  font-size: 60px;
  font-weight: 600px;
  letter-spacing: 1.2;
  word-wrap: break-word;
}

.text1 .idanM {
  font-size: 60px;
  font-family: "Baloo Chettan";
  font-weight: 800px;
  letter-spacing: 1.2;
  word-wrap: break-word;
}

.text2 {
  width: 631px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 36px;
  font-weight: 500px;
  word-wrap: break-word;
}

.text3 {
  width: 361px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400px;
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif;
}

.register-button {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  margin-top: 50px;
}

.register-button button {
  border-radius: 35px;
  width: 211px;
  background: transparent;
  height: 64px;
  font-size: 24px;
  font-weight: 600px;
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  color: #f4f4f4;
  border-width: 1px;
  border-image: linear-gradient(
    180deg,
    rgb(181, 2, 44) 7.68%,
    rgb(255, 205, 0) 83.53%
  ) 1;
  border-image-slice: 1;
}

.register-button button:hover {
  background: linear-gradient(
    180deg,
    rgb(181, 2, 44) 7.68%,
    rgb(255, 205, 0) 83.53%
  );
}
