/* style the body of the page*/
#aboutus {
  width: 100%;
  background-color: #eceaf0;
  color: black;
}

/* the heading */
.aboutPage h2 {
  text-align: center;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 36px;
}

/* this div contain the main text */
.mainbox_about {
  width: 100%;
  justify-content: center;
}

/* adding padding to the text container*/
.about_top {
  margin-left: 100px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/**/
.text-left {
  flex: 2;
  padding-right: 50px;
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  word-wrap: break-word;
}

/* Image in the about page*/
.imgs {
  width: 289px;
  height: 335px;
}

/* second heading */
.aboutPage h3 {
  text-align: center;
  word-wrap: break-word;
  font-weight: 500px;
  font-size: 26px;
}

/* the second heading body */
.about_bottom {
  display: flex;
  margin-left: 150px;
  margin-right: 100px;
}

.text-right {
  flex: 2;
  padding-left: 70px;
  text-align: justify;
  font-size: 18px;
  font-weight: 400px;
  word-wrap: break-word;
}

/* Footer style */
.footer_section {
  width: 100%;
  background: #b5022c;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 8vh;
}

.footer {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
}

.footertext {
  display: flex;
  gap: 100px;
  text-align: justify;
  flex: 1;
  word-wrap: break-word;
}

.footertext h4 {
  text-align: center;
}

.footertext .about .needhelp .usefullink {
  padding: 10px;
  justify-content: center;
  display: block;
}

.footerbottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.payment h4 {
    margin-bottom: 4px;
}
.paymentmethod {
  display: flex;
  gap: 10px;
}

/* download app and email section */
.email_section {
    background-color: black;
    width: 100%;
    padding-bottom: 3vh;
    color: white;
  }
  /* the header */
  .email_section h2 {
    color: white;
    font-size: 50px;
    text-align: center;
  }
  .email_section h3 {
    color: white;
    font-size: 18px;
    margin-inline: 5%;
    line-height: 0.2;
  }
  /* the sub header */
  .email_section_subDiv {
    font-size: 15px;
    display: flex;
    margin-inline: 5%;
    color: rgb(79, 79, 79);
    justify-content: space-between;
    align-items: center;
  }
  .email_section_subDiv article {
    font-weight: bold;
    margin-inline: 5%;
    color: #fff;
  }
  
  .email_box {
    display: flex;
    background-color: #fff;
    padding-inline: 20px;
    height: 46px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #fff;
    flex-shrink: 0;
  }
  .email_box input{
    font-size: 20px;
    color: rgba(18, 18, 18, 0.42);
  }
  .getApp{
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  width: 150px;
  border: 3px solid #FFF;
  }
  .getApp h4{
    line-height: 0;
  }
  .getAppcontainer{
  display: flex;
  /* width: 100%; */
  }
  .getApp > div{
    width: 100%;
  }
  
  